{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
<div><h1>用户列表</h1></div>
    <div class="bs-example" data-example-id="contextual-table">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>密码</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
             {% for obj in datalist %}
            <tr class="active">
                <th scope="row">{{ obj.id }}</th>
                <td>{{ obj.username }}</td>
                <td>{{ obj.password }}</td>
                <td>{{ obj.age }}</td>
                <td>
                    <a href="/user/delete/?uid={{ obj.id }}" type="button" class="btn btn-primary btn-sm">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>